.menu {
    background-color: #fff1a8;
    width: 185px;
    height: 100vh;
    display: flex; /*comment s'affiche les élements à l'intérieur*/
    justify-content: center;
    transition: 850ms; /*durée de l'animation?*/
}

/*ensemble de la navbar*/
.menu-items {
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: #924700;
    font-size: 16px;
    font-weight: normal;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
}

.menu a:hover {
    background-color: rgb(231, 190, 76);
}