.navbar {
    background-color: #fff1a8;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*pas de justify content donc items vont au centre*/
}

.logoAndTitle {
    /*display: block;*/
    /*justify-content: center;*/
     /*aligne le log et le titre sur l'axe x*/
    display: flex;
    align-items: center;
    flex-direction: row; /*Le flex direction par defaut est row. Sauf qu'ici Le parent est DEJA en flex direction column. Donc set à row */
}

.logoAndTitle h2 {
    margin: 0;
}

.logoAndTitle img {
    height: 80px;
    width: auto;
    object-fit: contain;
    padding: 0px 15px 0px 15px;
}

span {
    margin-left: 16px;
}