
.headerContent {
    /*display: block;*/
    /*justify-content: center;*/
    align-items: center; /*aligne le log et le titre sur l'axe x*/
    display: flex;
    flex-direction: row; /*Le flex direction par defaut est row. Sauf qu'ici Le parent est DEJA en flex direction column. Donc set à row */
}

.headerContent h2 {
    margin: 0;
    flex: 1;
}

.headerContent img {
    height: 80px;
    width: auto;
    object-fit: contain;
    padding: 0px 15px 0px 15px;
}
