.navbar {
    background-color: #fff1a8;
    height: 80px;
    display: flex;
    align-items: center;
    /*pas de justify content donc items vont au centre*/
    justify-content: space-evenly;
}


.headerContent {
    /*display: block;*/
    /*justify-content: center;*/
    align-items: center; /*aligne le log et le titre sur l'axe x*/
    display: flex;
    flex-direction: row; /*Le flex direction par defaut est row. Sauf qu'ici Le parent est DEJA en flex direction column. Donc set à row */
}

.headerContent h2 {
    margin: 0;
    flex: 1;
}

.headerContent img {
    height: 80px;
    width: auto;
    object-fit: contain;
    padding: 0px 15px 0px 15px;
}


/*
.nav-menu {
    background-color: #fff1a8;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0; 
    transition: 850ms;
}*/
/*
.nav-menu.active {
    left: 0;
    transition: 350ms;
}*/

/*
.navbar-toggle {
    background-color: #fff1a8;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
    */

span {
    margin-left: 16px;
}